@import "tailwindcss";
@layer utilities {
  .animate-blob {
    animation: blob 7s infinite;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather_120pt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@theme {
  --font-Merriweather: "Merriweather", serif;
  --font-Kanit: "Kanit", sans-serif;
}